html{
     
background: url("../imagenes/ba3.jpg") no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}
     
body,html {

     
	  padding:0;
	

	 
}

/* Decirle al navegador que muestre 5 elementos como bloque */ 
	 header, footer, aside ,nav, article, section {
	    display:block;
}


header{
	text-align: center;
	color: #000000;
	line-height: 1.3em;
	font-size: 17px;
	text-shadow: 1px solid #ebebeb;}
header h1{
	padding: 30px 0 10px;
	margin: 0;}
header h2{
	font-size: 16px;}


p{
       opacity: 1;
       font-family: "arial", serif;
       font-size: 105%;}
pre{
	   opacity: 1;
       font-family: "arial", serif;
       font-size: 105%;}
article{
	padding: 30px;
	width: 872px;
	float: center;
	border-bottom: 1px solid #ebebeb;
	background-color: #F1F8FF;
	font-family: "arial",serif;
	color: black;
	border-radius: 22px 22px 22px 22px;
-moz-border-radius: 22px 22px 22px 22px;
-webkit-border-radius: 22px 22px 22px 22px;
border: 5px solid #252e3d;
-webkit-box-shadow: 0px 0px 8px 10px rgba(0,0,0,0.81);
-moz-box-shadow: 0px 0px 8px 10px rgba(0,0,0,0.81);
box-shadow: 0px 0px 8px 10px rgba(0,0,0,0.81);
}

#trucos{
       font-family: "arial", serif;
       font-size: 105%;}

#titulo1{font-family: "arial", serif;
       font-size: 40px;}

#index{font-family:"arial",serif;
        font-size:"hugue"; }

#subtitulo{
color:#30B0E5;   
        font-family:"arial",serif;
           font-size:30px;}


#opacidad{

	background: rgba(255, 255, 255, 0.8);
}

footer{padding: 30px;
	width: 1000px;
	float: center;
	border-bottom: 1px solid #ebebeb;
	background-color: #F1F8FF;
	font-family: "arial",serif;
	color: black;
	border-radius: 22px 22px 22px 22px;
-moz-border-radius: 22px 22px 22px 22px;
-webkit-border-radius: 22px 22px 22px 22px;
border: 5px solid #252e3d;
-webkit-box-shadow: 0px 0px 8px 10px rgba(0,0,0,0.81);
-moz-box-shadow: 0px 0px 8px 10px rgba(0,0,0,0.81);
box-shadow: 0px 0px 8px 10px rgba(0,0,0,0.81);}
#cosita{font-size: x-large;}
#aeronaves{color:#30B0E5;   
        font-family:"arial",serif;
           font-size:40px;}
#texto{font-family: "arial",serif;}
#azul{color:#042EC6;   
        font-family:"arial",serif;
        font-size:50px;}
#usa{color:#841810;
     font-family: "arial",serif;
     font-size: 40px;}
#pusa{font-family: "arial",serif;
     font-size: 25px;
      color:#25507B;
      font-weight:bold;}
#textob{font-family: "arial",serif;
        font-weight:bold;}
#desc{color:#06195F;
 font-family:"arial",serif;
           font-size:50px;}
#pusa2{font-family: "arial",serif;
     font-size: 25px;
      color:#841810;
      font-weight:bold;}
      hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;}
#texp{
	font-family:"arial",serif;
   font-size:10px;
   font-weight: bold;}
   
hr.style3 {
	border-top: 1px dashed #8c8b8b;}
	#games{color:#30B0E5;   
        font-family:"arial",serif;
           font-size:50px;}
hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}