
html{
	background-color: #d2d2d2;
	margin: 0;
	padding: 0;


}

body{

	width: 900px;
	margin: 30px auto;
	padding: 0;
	background-color: #fff;
	-moz-box-shadown: 0 0 5px #888;
	-webkit-box-shadown: 0 0 5px #888;
	box-shadow: :10px 5px 5px #888;
}
/* decirle al navegador que muestre 5 elementos como bloques */
header, footer, aside, nav, article, section{
	display: block;

}

header{
	background-color: #31b404;
	text-align: center;
	color: #bbb;
	line-height: 1.3em;
	font-size: 17px;
	text-shadow: 1px solid #ebebeb;

}
header h1{
	padding: 30px 0 10px;
	margin: 0;

}
header h2{
	font-size: 16px;
}