*{
	margin:0px;
	padding:0px;
	font-family: Helvetica Neue; 
}


div.contenedor{
	width: 200px;
	height: 230px;
	float:left;
	-webkit-transition: height .4s;
	filter:alpha(opacity=60); -moz-opacity:0.8; -khtml-opacity: 0.8; opacity: 0.8;
}

div#uno{
	background-color: #101F32;
}

div#dos{
	background-color: rgb(27,54,71);
}

div#tres{
	background-color: rgb(22,107,162);
}

div#cuatro{
	background-color: rgb(22,145,190);
}

div#cinco{
	background-color: #4F91BE;
}

div#seis{
	background-color: #375A7F;
}

img.icon{
	display: block;
	margin:40px auto;
	background-color: rgba(255,255,255,.15);
	width:40px;
	padding:20px;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
}

p.texto{
	font-size: 1.2em;
	color:white;
	text-align: center;
	padding-top:10px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
}

div.contenedor:hover{
	height:250px;
}

div.contenedor:hover p.texto{
	padding-top: 30px;
	opacity: 1;
}

div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}










































































